<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}You Were Hungry!{{else}}Want To Chow Down?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    
</li>